html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.trash {
    cursor: pointer;
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width:100px;
    height:100px;
}

.trash:hover{
    border: solid 2px red;
}

#trashspace {
    height: 60%;
    width: 100%;
}

#binspace {
    height: 40%;
    width: 100%;
    border: dashed 10px red;
    background-color: transparent;
}

#gamespace{
    height: 100%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/28/Landfill.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.itemfields {
    position: relative;
}

.bins {
    display: inline-block;
    height: 100%;
    width: 19%;
    background-size: 100% 100%;
    margin: 2.32px;
}

#paper {
    background-image: url(./Images/Paper.png);
}

#plastic {
    background-image: url(./Images/Plastic.png);
}

#glass {
    background-image: url(./Images/Glass.png);
}

#compost {
    background-image: url(./Images/reindeer.png);
}

#landfill {
    background-image: url(./Images/landfill-bin.png);
}

#score{
    text-align: center;
    font-size: 15%;
    
}


.life {
    width: 50px;
}
