html {
    height: 800px;
}

body {
    height: 100%;
    width: 100%;
    background-color: red;
}

.trash {
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.melon {
    background-image: url(./Images/watermelon.png);
    height: 100px;
    width: 100px;
}

#trashspace {
    height: 60%;
    width: 100%;
}

#binspace {
    height: 40%;
    width: 100%;
}

.itemfields {
    border: solid 10px blue;
    position: relative;
}

.bins {
    display: inline-block;
    background-color: yellow;
    height: 50%;
    width: 19%;
    background-size: 100% 100%;
    margin: 2.32px;
}

#paper {
    background-image: url(./Images/watermelon.png);
}

#plastic {
    background-image: url(./Images/watermelon.png);
}

#glass {
    background-image: url(./Images/watermelon.png);
}

#compost {
    background-image: url(./Images/watermelon.png);
}

#landfill {
    background-image: url(./Images/landfill-bin.png);
}

.life {
    width: 10%;
}
